.hero{
    margin: 0px 70px;
    margin-top: 80px;
    
}
.hero-text{
    color: #fff;
    font-size: 90px;
    font-weight: 500;
    line-height: 100px;
}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin-top: 50px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
}
.hero-explore p{
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 7.5px;
    cursor: pointer;
}
.hero-dot.orange{
    background: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
    color: orangered;
    cursor: pointer;
}
.hero-play p{
    color:white;
    font-size: 19px;
}


/* Media queries for responsiveness */

/* For screens smaller than 768px (e.g., tablets) */
@media (max-width: 768px) {
    .hero {
        margin: 0px 30px;
    }
    .hero-text {
        font-size: 60px;
        line-height: 60px;
    }
    .hero-explore {
        gap: 20px;
        padding-left: 20px;
        font-size: 16px;
        
    }
    .hero-dot-play {
        margin-top: 270px;

    }
    .hero-play p {
        font-size: 16px;
    }
}

/* For screens smaller than 480px (e.g., smartphones) */
@media (max-width: 480px) {
    .hero {
           margin-top: 20px;
    }
    .hero-text {
        font-size: 40px;
        line-height: 50px;
        margin-top: 2px;
    }
    .hero-explore {
        gap: 10px; 
        font-size: 14px;
        margin-top: 0px;
        
    }
    .hero-dot-play {
        margin-top: 250px;
        padding: 10px;
    }
    .hero-play p {
        font-size: 14px;
    }
}