.background {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    background-size: cover;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 500ms ease-in-out;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0; /* Ensure it's positioned at the top */
        left: 0; /* Ensure it's positioned at the left */
        object-fit: contain;
        background-size: contain;
        background-color: blueviolet;
    }
}
